<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" href="https://img.icons8.com/plasticine/100/box-lock-1.png" alt="box-lock-1"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Q-Box {% endblock %}</title>
</head>
{% block navbar %}
{% include 'includes/navbar.html' %} 
{% endblock %}
<body>
{% block content %}
{% endblock %}
</body>
{% block scripts %} {% endblock %}
</html>
