<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
{% block navbar %}
{% include 'includes/acc_nav.html' %} 
{% endblock %}
<body>
{% block content %}
<table>
    <tr>
        <th>File ID</th>
        <th>File Name</th>
        <th>File Access Level</th>
    </tr>

    {% for i in fileliste %}
        {% if i.get_accesslevel() == 3 and i.get_status() == "Classified" %}
            <tr>
                <td>{{i.get_fileid()}}</td>
                <td><a href="{{ url_for('presigned', filename=i.get_filename()) }}">{{i.get_filename()}}</a></td>
                <td>{{i.get_accesslevel()}}</td>
            </tr>
        {% endif %}
    {% endfor %}

    {% for i in fileliste %}
        {% if i.get_accesslevel() == 2 and i.get_status() == 'Classified' %}
            <tr>
                <td>{{i.get_fileid()}}</td>
                <td><a href="{{ url_for('presigned', filename=i.get_filename()) }}">{{i.get_filename()}}</a></td>
                <td>{{i.get_accesslevel()}}</td>
            </tr>
        {% endif %}
    {% endfor %}

    {% for i in fileliste %} 
        {% if i.get_accesslevel() == 1 and i.get_status() == "Classified" %}
            <tr>
                <td>{{i.get_fileid()}}</td>
                <td><a href="{{ url_for('presigned', filename=i.get_filename()) }}">{{i.get_filename()}}</a></td>
                <td>{{i.get_accesslevel()}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    
</table>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
        color: #333;
    }

</style>
{% endblock %}
</body>
{% block scripts %} {% endblock %}
</html>
