<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" href="https://img.icons8.com/plasticine/100/box-lock-1.png" alt="box-lock-1"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
</head>
{% block navbar %}
{% include 'includes/acc_nav.html' %}
{% endblock %}
{% block content %}
<body>
    <script>
        // Function to show the popup message
        function showPopup() {
            var message = '{{ get_flashed_messages()[0] if get_flashed_messages() else "" }}';
            if (message) {
                alert(message);
            }
        }

        // Call the showPopup function on page load
        window.onload = showPopup;
    </script>
    {{ popup | safe }}
      <div class="container">
        <div class="container" style="margin-top: 20px;">
            <img src="{{ user.profile_pic }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h4>{{ user.name }}</h4><br>
            <h2 class="w3-center">Upload Files</h2>
            <hr class="w3-clear">
          </div>
    
    <div class="w3-container w3-margin">
        <form class="w3-container" id="uploadForm" enctype="multipart/form-data">
          <label for="file" class="w3-text-blue"><b>Select File(s) to Upload:</b></label>
          <input class="w3-input w3-border" type="file" name="file" multiple id="file" accept=".jpg, .jpeg, .png, .pdf, .docx" required>
          <label for="auto">Set optional auto-delete time (hr):</label>
          <input type="text" name="auto" id="auto">
          <label for="password">Set Password:</label>
          <input type="password" name="password" id="password" required>
          <br>
          <button type="button" class="w3-btn w3-blue w3-margin-bottom" onclick="submitForm()" >Upload</button>
        </form>

    {% if client %}
    <a class="download-link" href="/download-file/{{ client[0] }}/{{ client[1] }}">Client Key</a>
    {% endif %}
    </div>


    

    <table>
        <tr>
            <th>File ID</th>
            <th>File Name</th>
            <th>File Access Level</th>
            <th>Delete</th>
        </tr>

        {% for i in fileliste %}
            {% if i.get_accesslevel() == 3 and i.get_status() == "Classified" %}
                <tr>
                    <td>{{i.get_fileid()}}</td>
                    <td><a href="{{ url_for('presigned', token=i.get_token()) }}">{{i.get_filename()}}</a></td>
                    <td>{{i.get_accesslevel()}}</td>
                    {% if i.get_userid() == userid or userid == "105552234048794201768" %}
                    <td>
                        <form action="{{ url_for('delete_file') }}" method="post">
                            <input type="hidden" name="filename" value="{{ i.get_filename() }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {%endif %}
                </tr>
            {% endif %}
        {% endfor %}

        {% for i in fileliste %}
            {% if i.get_accesslevel() == 2 and i.get_status() == 'Classified' %}
                <tr>
                    <td>{{i.get_fileid()}}</td>
                    <td><a href="{{ url_for('presigned', token=i.get_token()) }}">{{i.get_filename()}}</a></td>
                    <td>{{i.get_accesslevel()}}</td>
                    {% if i.get_userid() == userid or userid == "105552234048794201768" %}
                    <td>
                        <form action="{{ url_for('delete_file') }}" method="post">
                            <input type="hidden" name="filename" value="{{ i.get_filename() }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {%endif %}
                </tr>
            {% endif %}
        {% endfor %}

        {% for i in fileliste %}
            {% if i.get_accesslevel() == 1 and i.get_status() == "Classified" %}
                <tr>
                    <td>{{i.get_fileid()}}</td>
                    <td><a href="{{ url_for('presigned', token=i.get_token()) }}">{{i.get_filename()}}</a></td>
                    <td>{{i.get_accesslevel()}}</td>
                    {% if i.get_userid() == userid or userid == "105552234048794201768" %}
                    <td>
                        <form action="{{ url_for('delete_file') }}" method="post">
                            <input type="hidden" name="filename" value="{{ i.get_filename() }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {%endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <style>
        .w3-input-file {
      padding: 10px;
      font-size: 16px;
    }

    .w3-btn-upload {
      padding: 12px 20px;
      font-size: 16px;
    }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #333;
        }

    </style>

</body>
<script>
    function submitForm() {
        var formData = new FormData(document.getElementById('uploadForm'));
        var xhr = new XMLHttpRequest();

        xhr.open('POST', 'https://127.0.0.1:5000/upload', true);

        console.log('0')
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log('1')
                var data = JSON.parse(xhr.responseText);

                if (data === 'success') {
                    console.log('2')
                    alert('Upload successful!');
                    // Reload the content of the page
                    location.reload();
                } else if (data === 'duplicate') {
                    console.log('3')
                    alert('Duplicate name detected');
                } else {
                    console.log('4')
                    alert('Upload failed!');
                }
            } else {
                console.log('5')
                alert('Request failed!');
            }
        };

        xhr.onerror = function () {
            alert('Request failed!');
        };

        xhr.send(formData);
    }
</script>
 {% endblock %}
