<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
{% block navbar %}
{% include 'includes/acc_nav.html' %} 
{% endblock %}
{% block content %}
<body>
    <script>
        // Function to show the popup message
        function showPopup() {
            var message = '{{ get_flashed_messages()[0] if get_flashed_messages() else "" }}';
            if (message) {
                alert(message);
            }
        }

        // Call the showPopup function on page load
        window.onload = showPopup;
    </script>
    {{ popup | safe }}
<form id="uploadForm" enctype="multipart/form-data" style="margin-top: 70px;">
    <label for="file">Choose a file:</label>
    <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png, .pdf, .docx" required>
    <label for="auto">Set optional auto-delete time (hr):</label>
    <input type="text" name="auto" id="auto">
    <br>
    <label for="password">Set Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="button" onclick="submitForm()">Upload</button>
</form>

    <table>
        <tr>
            <th>File ID</th>
            <th>File Name</th>
            <th>File Access Level</th>
            <th>Delete</th>
        </tr>
    
        {% for i in fileliste %}
            {% if i.get_accesslevel() == 3 and i.get_status() == "Classified" %}
                <tr>
                    <td>{{i.get_fileid()}}</td>
                    <td><a href="{{ url_for('presigned', filename=i.get_filename()) }}">{{i.get_filename()}}</a></td>
                    <td>{{i.get_accesslevel()}}</td>
                    {% if i.get_userid() == userid or userid == "105552234048794201768" %}
                    <td>
                        <form action="{{ url_for('delete_file') }}" method="post">
                            <input type="hidden" name="filename" value="{{ i.get_filename() }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {%endif %}
                </tr>
            {% endif %}
        {% endfor %}
    
        {% for i in fileliste %}
            {% if i.get_accesslevel() == 2 and i.get_status() == 'Classified' %}
                <tr>
                    <td>{{i.get_fileid()}}</td>
                    <td><a href="{{ url_for('presigned', filename=i.get_filename()) }}">{{i.get_filename()}}</a></td>
                    <td>{{i.get_accesslevel()}}</td>
                    {% if i.get_userid() == userid or userid == "105552234048794201768" %}
                    <td>
                        <form action="{{ url_for('delete_file') }}" method="post">
                            <input type="hidden" name="filename" value="{{ i.get_filename() }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {%endif %}
                </tr>
            {% endif %}
        {% endfor %}
    
        {% for i in fileliste %} 
            {% if i.get_accesslevel() == 1 and i.get_status() == "Classified" %}
                <tr>
                    <td>{{i.get_fileid()}}</td>
                    <td><a href="{{ url_for('presigned', filename=i.get_filename()) }}">{{i.get_filename()}}</a></td>
                    <td>{{i.get_accesslevel()}}</td>
                    {% if i.get_userid() == userid or userid == "105552234048794201768" %}
                    <td>
                        <form action="{{ url_for('delete_file') }}" method="post">
                            <input type="hidden" name="filename" value="{{ i.get_filename() }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    {%endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    
        th {
            background-color: #f2f2f2;
        }
    
        a {
            text-decoration: none;
            color: #333;
        }

    </style>
    
</body>
<script>
    function submitForm() {
        var formData = new FormData(document.getElementById('uploadForm'));
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/upload', true);

        xhr.onload = function () {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);

                if (data === 'success') {
                    alert('Upload successful!');
                    // Reload the content of the page
                    location.reload();
                } else if (data === 'duplicate') {
                    alert('Duplicate name detected');
                } else {
                    alert('Upload failed!');
                }
            } else {
                alert('Request failed!');
            }
        };

        xhr.onerror = function () {
            alert('Request failed!');
        };

        xhr.send(formData);
    }
</script>
 {% endblock %}
