<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
{% block navbar %}
{% include 'includes/acc_nav.html' %} 
{% endblock %}
{% block content %}
<div style="margin-top: 100px; margin-left: 100px;">
<a href="{{ file_path }}">{{filename}}</a>
<a href="/encryption">Quantum Encrypt it!</a>
</div>
{% endblock %}
</html>
